:root {
  /* Colors */
  --color-text: #000000; 
  --color-secondary-text: #ffffff;
  --color-primary: #FF0000  ;
  --color-secondary: #D5624D;

  --color-dark: #ffc55b;
  --color-light: #feeea1;

  --color-bg: #fdfdfc;


}