:root {
  /* Colors */
  --color-text: #000000; 
  --color-primary: #05624d;
  --color-secondary: #D5624D;

  --color-dark: #4e6b04;
  --color-light: #f5f5f5;

  --color-bg: #afbcba;
  --font-robot: 'Roboto';
}