:root {
  /* Colors */
  --color-text: #000000; 
  --color-secondary-text: #ffffff;
  --color-primary: #00674f  ;
  --color-secondary: #D5624D;
  --color-highlight: #ec4a61;

  --color-dark: #ffc55b;
  --color-light: #feeea1;

  --color-bg: #fdfdfc;


}