.officialsContainer {
  background-color: var(--color-red);
  color: white;
  margin-top: 7rem;
  padding: 2rem 1rem;
}

.title {
  font-weight: 700;
  font-family: 'Merriweather', serif;
}

.activeLink {
  color: #FFC107;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.mayorName {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.mayorImage {
  height: 450px;
  border-radius: 0.5rem;
  width: 100%;
}

.desc{
  padding: 2rem 3rem;
}
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
