/* features.module.css */

.container {
  background-color:var(--color-secondary-text);
  color: var(--color-secondary-text);
  font-family: 'Arial', sans-serif;
  padding: 2rem;
}

.titleContainer {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.title{
  font-size: 2.6em;
  font-weight: 700;
  color: var(--color-red-2)
}

.subtitleContainer {
  text-align: center;
  padding: 0 20rem 2rem 20rem;
}

.subtitle{
  font-size: 1em;
  color: var(--color-text);

}


.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.dividerLine {
  border-top: 2px solid #efac00;
  width: 7rem;
}

.dividerText {
  margin:0 1rem;
  font-size: 1.125rem;
  color: var(--color-red);
  font-weight: 600;
}
 /* Code for the card */
.featureCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  padding: 1.4rem;
  color: var(--color-text);
  background-color:#ffffff;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
 
}

.featureCardTitle{
  padding-top: 1rem;
  font-weight: 600;
}

.featureIcon {
  margin-bottom: 1rem;
}

.featureDescription{
  padding-top: 0.8rem;
}

/*The button code starts here*/
.buttonContainer{
  display: flex-start;
  justify-content: center;
  margin-top: auto;
}
.featureButton {
  background-color: #ffd900; 
  color: rgb(0, 0, 0); 
  border: none; 
  border-radius: 5px;
  padding: 0.5rem 1rem; 
  cursor: pointer; 
  font-size: 1em; 
  transition: background-color 0.3s; 
}

.featureButton:hover {
  background-color: #ffc400; 
}

/* End of the code for the card*/