
.dropdownItemContainer {
  margin-bottom: 10px;
}

.dropdownItem {
  display: flex;
  align-items: flex-start; /* Align image and text at the start */
  text-decoration: none;
  color: inherit;
  padding: 8px 10px;
  transition: background-color 0.3s;
}

.dropdownItem:hover {
  background-color: rgba(212, 212, 212, 0.1); /* Change background on hover */
}

.dropdownIcon {
  width: 50px;
  height: auto;
  margin-right: 16px; /* Space between image and text */
  flex-shrink: 0; /* Prevent the image from shrinking */
}

/*for row column of image and text */
.imageTextContainer{
  display: flex;
  flex: row;
 
}
.descriptionContainer {
  display: flex;
  flex-direction: column; /* Stack title and description vertically */
  justify-content: center;
}

.dropdownTitle {
  font-size: 14px;
  font-weight: bold;
}

.dropdownDescription {
  font-size: 12px;
  color: #666;
  margin-top: 4px; /* Space between title and description */
}


.dropdownDivider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

.arrowContainer {
  margin-left: 8px; /* Space between text and arrow */
  opacity: 0; /* Hide the arrow by default */
  transition: opacity 0.3s; /* Smooth transition for opacity */
}

.dropdownItem:hover .arrowContainer {
  opacity: 1; /* Show the arrow on hover */
}
