
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
  background: transparent; 
  padding: 6px 0;
  margin: 0 30px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  gap: 20px;
  padding: 0 20px;
  height: 80px;
}

/* Logo and Title */
.logo-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

.logo-image {
  width: 160px; /* Adjust as needed */
  height: auto;
  padding: 10px 0; 
}

/* Navigation Links */
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.nav-links a {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 6px 20px;
  position: relative;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:rgb(24, 116, 152);
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(0.7);
}

.hover-underline-animation:hover::after {
  transform-origin: bottom center;
}

/* Menu & Login Container */
.menu-login-container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 45px;
}

/* Menu Icon */
.menu-icon {
  cursor: pointer;
  color: white;
  transition: color 0.3s ease-in-out;
  display: none; /* Hidden by default on larger screens */
}

.menu-icon:hover {
  color: var(--color-bg);
}

/* Login Button */
.login-button {
  padding: 8px 16px;
  background-color: var(--color-dark);
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.login-button:hover {
  background-color: #de137c;
  color: white;
}

@media (max-width: 768px) {
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .nav-links {
    display: none; /* Hide navigation links */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(238, 166, 148);
    width: 100%;
    text-align: center;
    gap: 10px;
    padding: 10px 0;
  }

  .nav-links.show {
    display: flex; /* Show when menu is clicked */
  }

  .menu-icon {
    display: block; /* Show menu icon */
  }
}
