.topnavContainer {
  padding-top: 10px;
  height: 50px;
  background-color: var(--color-highlight);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem; 
  position: relative;
}

/*For the left container*/
.topLeft {
  display: flex;
  align-items: center;
  margin-left: 4em;
}

.headingNav {
  margin-right: 20px;
  padding-top: 0.3rem;
  font-size: 1rem;
  font-style: italic;
  color: var(--color-secondary-text);
}

/*For the right container*/
.topRight {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
  padding-right: 5em;
}

.flagIcon {
  width: 40px;
  height: auto;
}

.separator {
  height: 30px;
  width: 2px;
  background-color: var(--color-secondary-text);
  margin: 0 10px;
}

.dateTime {
  font-size: 0.90em;
  color: var(--color-secondary-text);
  margin-right: 10px;
}

.searchBox {
  margin-right: 10px;
}

.helpLink {
  display: flex;
  align-items: center;
  color: var(--color-secondary-text);
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

.helpLink:hover {
  color: var(--color-secondary);
}

.helpIcon {
  margin-right: 5px;
}
 /*End of the top nav*/

 /*for responsive design of navbar*/
.menuIcon {
  cursor: pointer;
  color: #828b94;
  transition: color 0.3s ease-in-out;
  display: none;
}

.menuIcon:hover {
  color: #de137c;
}
 
 /*------------------------Start of Nav------------------------------*/
/*start of nav*/
nav {
  position: absolute;
  font-family: "Outfit", sans-serif;
  top: 5%;
  left: 2rem; 
  width: 50%;
  height: 100px;
  background: transparent;
  padding: 8px 0;
  z-index: 10;
}

.navContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-left: 2rem;
}

.logoImg {
  width: 150px;
  height: auto;
  margin-right: 2rem;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
  margin: auto;
  transition: all 0.3s ease;
}

.navLinks a {
  padding: 8px 12px;
  position: relative;
  color: #666767;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  font-size: 0.9em;
  font-weight: 600;
  gap: 5px;
}

.navItem {
  position: relative;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 10px 0;
  border-radius: 4px;
  min-width: 240px;
}


.navItem:hover .dropdownMenu {
  display: block;
}

.dropdownItem {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}

.dropdownIcon {
  margin-left: 5px;
}

.linkAnimation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transition: transform 0.3s ease-out;
}

.linkAnimation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

/*for the contact button*/

.contactUsContainer {
  display: flex;
  align-items: center;
  margin-left: 7em;
}

/* Contact Us Button Styling */
.contactUsButton {
  display: flex;
  align-items: center;
  text-align: center;
  width: 160px;
  background-color: var(--color-primary);
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  gap: 8px;
}

.contactUsButton:hover {
  background-color: var(--color-secondary);
}

/* Icon for Contact Us button */
.contactUsButton svg {
  margin: 5px;
  
}

/*---------------------------------------For responsive media queries----------------------------------*/
@media (max-width: 768px) {
  .navLinks {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    background-color: rgb(238, 166, 148);
    text-align: center;
    justify-content: center;
    gap: 20px;
    transition: right 0.5s ease;
  }

  .navLinks.show {
    right: 0;
  }

  .menuIcon {
    display: block;
    z-index: 20;
    color: var(--color-primary);
  }

  .navRight {
    display: none;
  }

  .dropdownMenu {
    position: relative;
    width: 100%;
    box-shadow: none;
  }
}
