/* Container for the socials section */
.socialsContainer {
  position: fixed;
  top: 25em;
  right: 2%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 1rem; 
}

/* Styling for each social link */
.socialLink {
  color: var(--color-secondary); 
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.3s, background-color 0.3s; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem; 
  height: 3rem; 
  border-radius: 50%; 
  background-color: rgba(0, 0, 0, 0.1); 
}

.socialLink:hover {
  color: var(--color-light); 
  background-color: var(--color-secondary);
}