.sidebar {
  width: 280px;
  background-color: #f9f9f9;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logoIcon {
  color: #8a8a8a;
  font-size: 30px;
}

.logoText {
  margin-left: 10px;
}

.logoMain {
  font-size: 20px;
  font-weight: bold;
}

.logoSub {
  font-size: 14px;
  color: #8a8a8a;
}

.navSection {
  flex-grow: 1;
}

.sectionTitle {
  font-size: 0.8rem;
  font-weight: bold;
  color: #ff0000;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.navItems {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin-bottom: 10px;
}

.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  color: #848697;
  padding: 5px;
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.navLink:hover {
  color: #000000;
}

.icon {
  margin-right: 10px;
  color: #8a8a8a;
  height: 20px;
}

.submenu {
  margin-left: 20px;
  list-style: none;
  font-size: 0.9rem;
}

.submenuLink {
  text-decoration: none;
  color: #555;
  padding: 8px;
  display: block;
}


.dropdownIcon {
  margin-left: auto;
  color: #8a8a8a;
}

.logout {
  margin-top: auto;
}
