
/* Sidebar Container */
.sidebar {
  width: 280px;
  font-family: 'Be Vietnam Pro', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #202020;
}

/* Logo Section */
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logoIcon {
  color: #ec2626; /* Light green icon color */
  font-size: 30px;
}

.logoText {
  margin-left: 10px;
}

.logoMain {
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* White for better contrast */
}

.logoSub {
  font-size: 14px;
  color: #ec2626;;
}

/* Navigation Items */
.navSection {
  flex-grow: 1;
}

.sectionTitle{
  color: #ec2626;;
  margin: 1rem 0 0.6rem 0;
}
.navItems {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin-bottom: 10px;
}

.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  color: #969593; /* Default text color */
  padding: 5px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  cursor: pointer;
}

.navLink:hover {
  background-color: #282828; /* Dark background for hover effect */
  color: #fff; /* Change text to white on hover */
}

.icon {
  margin-right: 10px;
  color: #8a8a8a; /* Default icon color */
  height: 20px;
  transition: color 0.3s; /* Smooth transition for icon */
}

.navLink:hover .icon {
  color: red; /* Light green icon color on hover */
}

/* Submenu Styles */
.submenu {
  margin-left: 20px;
  list-style: none;
  font-size: 0.9rem;
}

.submenuLink {
  text-decoration: none;
  color: #555;
  padding: 8px;
  display: block;
  transition: color 0.3s;
}

.submenuLink:hover {
  color: #fff; /* White text on hover */
}


/* Logout Section */
.logout {
  margin-top: auto;
}
/* Footer Wrapper */
.footerWrapper {

  text-align: center;
  margin-top: auto; 
  background-color: #202020;
}

/* Footer Divider (horizontal line) */
.footerDivider {
  border: none;
  border-top: 1px solid #3e3e3e;
  margin-bottom: 10px;
}

/* Footer Styling */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerMainText {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.footerSubText {
  font-size: 0.65rem;
  color: #848697; /* Lighter color for subtext */
}