/* Footer.module.css */
.footer {
  padding: 2rem 7rem; 
  background-color: #f8f9fa;
}

.container {
  display: flex;
  flex-direction: row; /* Row layout for PC */
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* Allows wrapping if there's not enough space */
}

.logoSection, .contactUs, .followUs, .footerImage {
  flex: 1; /* Equal space allocation */
  margin: 20px;
}

.logoSection {
  max-width: 300px;
}

.logo {
  width: 70px; /* Size for PC */
  margin-bottom: 10px;
}

h4{
  font-weight: 600;
  padding-bottom: 0.6rem;
}
.contactUs, .followUs {
  margin-top: 20px;
}

.iconLink {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.iconLink span {
  margin-right: 8px;
}

.footerBottom {
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  width: 100%;
}

.footerImage img {
  width: 100%; /* Ensures image fits the container */
  max-width: 200px; /* Limit image size on larger screens */
  margin-top: 20px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack vertically for mobile */
    align-items: center;
    text-align: center;
    padding: 0 1rem; 
  }

  .logo {
    width: 100px; /* Resize logo for mobile */
  }

  .logoSection, .contactUs, .followUs, .footerImage {
    margin: 20px 0;
  }

  .footerBottom {
    margin-top: 20px;
    padding-bottom: 2rem;
  }

  .iconLink {
    justify-content: center;
  }
}
