li {
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  position: block;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  background-color: var(--color-bg);
  box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
  transition: background 0.3s linear;
}

.container {
  max-width: 1240px;
  padding: 30px 40px;
  margin: auto;
}

.contentFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.profile .logoArea {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.profile .logoArea img {
  width: 70px;
}

.profile .logoName {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 1rem;
  color: var(--color-text);
}

.description {
  max-width: 320px;
  margin-bottom: 1.25rem;
}

.description p {
  color: var(--color-text);
  font-weight: 400;
  line-height: 28px;
}

.socials a {
  color: var(--color-text);
  margin-right: 22px;
  font-size: 24px;
}

.socials a:hover {
  color: var(--color-secondary);
}

.serviceArea {
  display: flex;
}

.serviceHeader {
  margin-right: 40px;
}

li.serviceName {
  color: var(--color-text);
  font-weight: 600;
}

.serviceHeader li a {
  color: var(--color-text);
  padding-bottom: 1px;
  font-weight: 400;
}

.serviceHeader li a:hover {
  color: var(--color-primary);
}

.serviceHeader li {
  margin-bottom: 10px;
  font-size: 14px;
}

hr {
  height: 1px;
  border: none;
  background-color: gray;
  margin-bottom: 1rem;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

.copyright {
  color: gray;
  display: flex;
  align-items: center;
}

.copyright span {
  margin-left: 8px;
  font-weight: 400;
  letter-spacing: 0.135rem;
}

.tou a {
  color: gray;
  margin-left: 1.5rem;
}

.tou a:hover {
  color: var(--color-text);
}

/*  The footer vector image is here */
.footerVectorContainer{
  

}

.footerImage{
  height:auto;
  width:300px;
  left: -25%;

}
@media screen and (max-width: 768px) {
  .contentFooter {
    flex-wrap: wrap;
    justify-content: left;
  }

  .profile {
    margin-left: 28px;
  }

  .serviceArea {
    flex-wrap: wrap;
    justify-content: left;
  }

  .serviceHeader {
    margin-left: 0;
    margin-right: 40px;
  }

  .socials {
    margin-bottom: 1rem;
  }

  .footerBottom {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 510px) {
  .serviceHeader {
    margin-bottom: 8px;
  }

  .copyright {
    margin-bottom: 8px;
  }
}
