

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  flex: 1;
  min-width: 250px;
}

.graphSection {
  width: 100%;
  margin-top: 20px;
}

.chart {
  height: 300px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}
